.event{
    &__title{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__img{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__images{
        width: 506px;
        height: 532px;
    }
   
    

}