.offers{
    &__container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:center;
        margin: 0 auto;
        max-width: 624px;
        margin-bottom: 200px;
    }
    &__title{
        margin: 0;
        margin-bottom: 46px;
    }
    &__btns{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 106px;
    }
    &__btn:hover{
        background-color: @red;
        border: none;
    }
}
