.upcoming{
    margin-bottom: 54px;
    padding-top: 110px;
    //width: 100%;
    height: 1236px;
    &__container{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    gap: 58px;
    width: 100%;
    }
    
}