.x-btn{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    border: none;
    padding: 0;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: @black;
    color: @white;
    transition: background-color 0.2s;
    &:hover,
    &:active{
        background-color: @red;
    }
    &__icon{
        display: block;
        stroke-width: 2;
        stroke-linecap: round;
        pointer-events: none;
    }
}