.page-header{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1920px;
    height: 147px;
    background-color: rgba(222, 222, 222, 0.5);
}
.page-header__logo{
    margin-left: 293px;
    margin-right: 237px;
}
.page-header__nav{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-right: 307px;
    margin-top: 0;
    height: auto;
}
.page-header__nav-link{
    font-size: 18px;
    color: black;
    text-decoration: none;
}

.page-header__user-link{
    text-align: center;
    padding-left: 40px;
    padding-bottom: 15px;
    padding-right: 40px;
    padding-top: 15px;
    box-sizing: border-box;
    font-size: 16px;
    width: 131px;
    height: 52px;
    border: 1px solid rgba(31, 30, 30, 1);
    text-decoration: none;
    color: black;
}

.main-header__paragraph{
    text-align: center;
}
.main-header{
    margin-bottom: 100px;
}
h1{
    color: rgba(31, 30, 30, 1);
    text-align: center;
}

.offers{
    text-align: center;
    padding: 80px 40px;

}
.offers__title{
    text-align: center;
    margin-bottom: 46px;
}
.offers__btns{
    display: flex;
    justify-content: center;
    gap: 106px;
}
.btn--red{
background-color: red;
color: white;
border: none;
}
.btn{
    background-color: white;
    text-align: center;
    color: black;
    
}