html, body{
    background-color: rgba(222, 222, 222, 1);
    background-image:url('noise.jpg');
    background-size: cover;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
body{
    font-family: "Open Sans",sans-serif;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    color: black;
}
.main{
    flex: 1 0 auto;
    margin-top: 0px;
    padding-top: 147px;
}
.page-header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 147px;
    background-color: rgba(222, 222, 222, 0.5);
    backdrop-filter: blur(20px);
    z-index: 1000;
    
}
.page-header__logo{
    flex-shrink: 0;
    width: 202px;
    height: 147px;
    font-size: 0px;
    text-decoration: none;
}

.page-header__nav{
    display: flex;
    gap: 50px;
}
.page-header__nav-link{
    color: #1f1e1e;
    font-weight: 600;
    font-size: 1.38;
    line-height: 25px;
    text-decoration: none;
    transition: color 0.2s;
}
.page-header__nav-link:hover{
    color: rgba(165, 21, 5, 1);
}
.page-header__container{
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1414px;
    margin: 0 auto;
    padding-left: 40px;
    padding-right: 40px;
}
.page-header__logo-icon{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.page-header__right-block{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 202px;
}
.btn{
    box-sizing: border-box;
    display: inline-flex;
    padding: 15px 40px;
    border: 1px solid black;
    text-decoration: none;
    background-color: transparent;
    outline: none;
    color: black;
    font-family: "Open Sans",sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.375;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;
}
.btn:hover{
    background-color: black;
    color: white;
}
.main-header{
    text-align: center;
    margin-bottom: 100px;
}

.main-header h1{
    display: block;
    margin-bottom: 70.5px;
}
.main-header__svg{
    width: 100%;
    height: 325px;
    object-fit: cover;
    display: block;
    margin-bottom: 70px;
}
.offers__container{
    max-width: 1334px;
    margin: 0 auto;
}
.section-title{
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 624px;
  margin: 0 auto 150px;
  padding: 7px 45px 9px;
  background-color: black;
  color: white;
  font-family: "Lora",serif;
  font-weight: 500;
  font-size: 36px;
  line-height: 1.28;
  text-align: center;
  text-transform: uppercase;
}
.listing__section-title{
    margin-top: 150px;
}
.listing{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1414px;
    margin: 0 auto;
    padding-left: 40px;
    padding-right: 40px;
}
.listing__events-list{
    display: flex;
    flex-wrap: wrap;
    gap: 120px 60px;

}
.evets{
    padding: 140px 0px 150px;
}
.offers{
    text-align: center;
    margin-bottom: 200px;

}
.offers_btn{
    display: inline-flex;
    box-sizing: border-box;
}

.about__container{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.about__container h1{
    margin-top: 0;
    margin-bottom: 0;

}
.home__about-paragraph{
    margin-top: 50.5px;
    margin-left: 467px;
    width: 867px;
    height: 74px;
}
.main__conteiner-img{
    height: 866px;
    display: flex;
    flex-direction: row;
}
.Pic{
    width: 870px;
    height: 577px;
    object-fit: cover;
    margin-top: 100.5px;
    margin-bottom: 0px;
    
}
.Pic1{
    width: 406px;
    height: 493px;
    margin-top: 388px;
    margin-left: 58px;
    margin-bottom: 0px;
}
.main__text-block{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.main__text-paragraph{
    margin-left: 387px;
}
.pic2{
    margin-top: 74px;
    margin-bottom: 210px;
}
.main__about-text{
    display: flex;
    flex-direction: row;
}
.main__about-paragraph{
    margin-top: 229px;
    margin-left: 62px;
}
.upcoming{
    margin-bottom: 54px;
    padding-top: 110px;
    width: 100%;
    height: 1236px;
    background-image: url('Rectangle\ 244.jpg');
}
.upcoming__container{
    display: flex;
    justify-content: center;
    gap: 58px;
}
.posters{
    width: 406px;
    height: 434px;
}
.Poster__description h2{
    margin-bottom: 0px;
}
.posters__paragraph{
    margin-top: 15px;
    margin-bottom: 0px;
}
.date__description{
    margin-top: 15px;
    margin-bottom: 0px;
}
.Posters__TheBestOfSade-red h2{
    color: rgba(165, 21, 5, 1);
}
.listing{
    margin-bottom: 200px;
}
.listing__section-title{
    margin-bottom: 150px;
}
.listing__card-news{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 120px;
}
.card-news_1,
.card-news_2,
.card-news_3 {
    display: flex;
    align-items: flex-start;
    gap: 60px;
}
.text__block-listing{
    display: flex;
    flex-direction: column;
}
.text__block-date{
    margin-bottom: 70px;
}
.text__block-listing h2{
    margin-top: 0px;
    margin-bottom: 40px;
}
.text__block-listing p{
    margin-top: 0px;
    margin-bottom: 0px;
}
.contacts__section-title{
    margin-bottom: 150px;
}
.contacts__container{
    display: flex;
    justify-content: space-between;
}
.contacts__elemnts_1,
.contacts__elemnts_2,
.contacts__elemnts_3{
    display: flex;
    align-items: flex-start;
    gap: 54px;
}
.doit{
    width: 2161px;
}
.event-card{
    display: flex;
    width: 405px;
    max-width: 100%;
    min-width: 280px;

}
.event-card__link{
    display: flex;
    flex-direction: column;
    width: 100%;
    color: black;
    text-decoration: none;

}
.event-card__link:hover .event-card__title{
    color: rgba(165, 21, 5, 1);
    text-decoration-color:rgba(165, 21, 5, 1);
    
}
.event-card__picture{
    display: block;
    position: relative;
    margin: 0 0 25px;
    font-size: 0;
    text-decoration: none;
    overflow: hidden;
}
.event-card__picture::after{
    content: '';
    display: block;
    width: 100%;
    padding-top: 107.16%;
}
.event-card__img{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.event-card__title{
    margin: 0 0 15px;
    min-height: 65px;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.375;
    text-decoration:underline transparent;
    transition: color 0.2s, text-decoration-color 0.2s;
    
}
.event-card__paragraph{
    margin: 0 0 auto;
}
.event-card__time{
    margin: 15px 0 0;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.35;
}
.listing__event-card{
    width: calc(33.333% - 40px);
}
.page-footer{
    width: 1337px;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    align-content: center;
    margin-top: auto;
    padding: 60px 0 40px 0;
}